body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 10px;
    text-align: center;
    width: 60%;
}

.logo {
    font-size: 2rem;
    color: #000080;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#input-text {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.options {
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #666;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.encrypt-button {
    background-color: #000080;
    color: white;
}

.decrypt-button {
    background-color: #f0f0f0;
    color: black;
}

.right-section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%;
}

.right-section img {
    width: 100px;
    margin-bottom: 20px;
}

.right-section p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.right-section span {
    font-size: 0.9rem;
    color: #666;
}
